body {
    background-color: rgb(29, 29, 118);
}
p {
    margin: 5px;
}
div {
    margin-bottom: 5px;
}
button {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-left: 3px;
}

#gameDisplay {
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 2fr 1fr;
    column-gap: 7px;
    border-radius: 10px;
    min-width: 310px;
    max-width: 500px;    
    margin-left: auto;
    margin-right: auto;
}

#leftDisplay,
#rightDisplay {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    min-width: 300px;
    width: 100%;
}

#petStats {
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(29, 29, 118);
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3px;
}
.highlight {
    background-color: rgba(245, 245, 245, 0.795);
    border-radius: 10xp;
}
.bold {
    font-weight: bold;
}

#petDisplay {
    min-height: 100px;
    text-align-last: center;
}
#pet {
    width: 30px;
}

#activity {
    display: flex;
    flex-wrap: wrap;
}

#ageDisplay {
    text-align: center;
}
